.us-content{
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    background-color: #ffffff;
    padding: 80px 30px 50px;
    border-radius: 10px;
    box-shadow: 3px 0 15px -1px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;
    margin-top: 50px;
    margin-bottom:150px;
    height: 280px;
     
}
.us-icon{
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    height: 76px;
    width: 76px;
    background-color: #5f30ff;
    display: inline-block;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    top: -38px;
    left: 50%;
    margin-left: -38px;
}

.us-content h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;

}
.us-content p {
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.9;
    color: #636363;
    font-weight: 400;
}

.us-content:hover{
    background:#5f30ff
}
.us-content:hover h4,
.us-content:hover p,
.us-content:hover 
.us-icon{color:#ffffff}
.us-content:hover .us-icon
{background:#000}
