#section{
    margin-top: 150px;
    padding: 60px 0 40px 0;
    box-shadow: inset 0px 0px 12px 0px rgba(0,0,0,0.1);
}
.section-bg{
    background:#ecf5ff;
}
#section .box{
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow:  0 10px 29px 0 rgba(68,88,144,0.1);
    transition: all 0.3s ease-in-out;
    
}
 
#section .box:hover{
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); 
}
 #section .icon{
     position: absolute;
     left: -10px;
     top: calc(50% - 32px);
 }

 #section .box i {
     font-size: 64px;
     line-height: 1;
     transition: 0.5s;
 }
 #section h4 {
     margin-left: 40px;
     font-weight: 700;
     margin-bottom: 15px;
     font-size: 18px;
 }
#section h4{
    color: #111;
}

#section .box:hover  h4{
    color:#007bff;
}
#section .description {
    font-size: 14px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
  }
 
@media only screen and (max-width: 479px) {
	.site-logo {
		margin-left: 15px;
	}
	.section-title h2 {
		font-size: 35px;
    }
}