
/* ----------------
  Contact Page
---------------------*/

.contact-section {
    padding-top: 100px;
    margin-bottom: 80px;
}

.contact-text h4 {
	margin-bottom: 30px;
}

.contact-text p {
	margin-bottom: 40px;
}

.cont-info {
	display: block;
	margin-bottom: 25px;
}

.cont-info .ci-icon {
	width: 36px;
	float: left;
}

.cont-info span {
	font-size: 16px;
	color: #1c1c1c;
	display: block;
	overflow: hidden;
}

.contact-form {
	padding-top: 64px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
	width: 100%;
	height: 56px;
	border: none;
	padding: 0 29px;
	background: #eff4f7;
	border-radius: 4px;
	margin-bottom: 21px;
}

.contact-form textarea {
	padding: 23px 29px;
	height: 195px;
}

.map {
	margin-top: 107px;
	height: 685px;
}
