
.page-top-header {
	height: 476px;
	padding-top: 215px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.page-top-header h2 {
	color: #fff;
}


.set-bg {

}

.site-breadcrumb {
	color: #fff;
	opacity: 0.37;
	font-size: 14px;
}

.site-breadcrumb a {
	color: #fff;
}