 .our-team{
     margin-top: 80px;
     margin-bottom: 80px;
 }


.team-content{
    position: relative;
    z-index: 1;
    padding: 40px;
    -webkit-box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    -webkit-transition-duration: 500ms;
    background-color: #fff;

}
.member-thumb{
    margin: 0 auto 40px;
    width: 165px;
}
.member-thumb img{
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    border-radius: 50%;


}
.team-content h5{
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
}

.team-content span{
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    color:#eb2b63;
    font-size: 12px;
    text-transform: uppercase;
}

.team-content:hover{
background: #5f30ff;
}
.team-content:hover h5,
.team-content:hover span,
.team-conten:hover 
.us-icon{color:#ffffff}
.member-thumb:hover img{ 
    -ms-transform: rotate(25deg); 
    -webkit-transform: rotate(25deg); 
    transform: rotate(25deg);
  }


  @media only screen and (max-width: 479px) {

	.section-title h2 {
		font-size: 35px;
    }
}
