
.slider-bg{
	background: url('../../../assets/img/blog/bg3.png')no-repeat scroll center center;
	height: 954px;
}


.hero-content {
	font-family: 'Comfortaa', sans-serif!important;
  margin-left: 250px;
  margin-top: 350px;
}

.hero-content h1 {
	font-family: 'Comfortaa', sans-serif!important;
	margin-top: 0;
	font-size: 45px;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 20px;
	color:#3F1D78;

}
.hero-content p{
	font-family: 'Comfortaa', sans-serif!important;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
	letter-spacing: 2px;
	color: #9688AD;
	
}
.button-style button{
	background: #5682EC;
	border: none;
	padding: 25px 45px 25px 45px;
	font-size: 14px;
	text-transform: uppercase;
	border-radius:55px;
	font-weight: 600;
	box-shadow: 0px 15px 30px rgba(86,132,236, 0.5);
}

.button-style button:hover{
	background: #fff;
	color: #5682EC;
	border: 2px solid #5682EC;
	padding: 25px 45px 25px 45px;
	font-size: 14px;
	text-transform: uppercase;
	border-radius:55px;
	font-weight: 600;
	box-shadow: 0px 15px 30px rgba(86,132,236, 0.5);
}

 .hero-rocket {
	position: absolute;
	top: 60%;
  left: 5%;
} 

.hero-rocket img {
	position: relative;
	-webkit-animation: rocket 3s linear infinite;
	animation: rocket 3s linear infinite;
}

@-webkit-keyframes rocket {
	0% {
		left: 20px;
		bottom: 20px;
	}
	25% {
		left: -20px;
		bottom: 20px;
	}
	50% {
		left: -20px;
		bottom: 0px;
	}
	75% {
		left: 0px;
		bottom: 0px;
	}
	100% {
		left: 20px;
		bottom: 20px;
	}
}

@keyframes rocket {
	0% {
		left: 20px;
		bottom: 20px;
	}
	25% {
		left: -20px;
		bottom: 20px;
	}
	50% {
		left: -20px;
		bottom: 0px;
	}
	75% {
		left: 0px;
		bottom: 0px;
	}
	100% {
		left: 20px;
		bottom: 20px;
	}
} 
/*Large Mobile : 480px */

@media only screen and (max-width: 1000px) {
    
.hero-content {

  margin-left: 20px;
  margin-top: 350px;
}
.hero-rocket {
	left: 60%;
	top: 50%;
} 
	} 
	@media only screen and (max-width: 767px) {
		.hero-rocket{
			display: none;
		}
	}

 @media only screen and (max-width: 320px) {
		.hero-content h1{
	   font-size:35px;
		    
		}
	} 
/* 
 @media only screen and (max-width: 1350px) {
	.hero-content {
		font-family: 'Comfortaa', sans-serif!important;
		margin-left: 250px;
		margin-top: 350px;
	}
  .hero-rocket{
    display: none;  
  }
}  */

/* @media only screen and (max-width: 1200px) {
  .hero-rocket{
		width: 431px;
    position: absolute;
    bottom: 7px;
    right: -51px;

  }
} */
/* 
} */
/* @media only screen and (max-width: 950px) {
  .hero-rocket{
	  display: none;
  }

} */
/*

} */
/* Medium Mobile :480px. */

/* @media only screen and (min-width: 576px) and (max-width: 766px) {
	.hero-section {
		height: 600px;
	}
} */

/* Small Mobile :320px. */

/* @media only screen and (max-width: 479px) {
	.site-logo {
		margin-left: 15px;
	}
	.section-title h2 {
		font-size: 35px;
	}
	.hero-section {
		height: 750px;
	}
	.hero-content h2 {
		font-size: 40px;
		margin-bottom: 30px;
	}

} */


/* @media only screen and (max-width: 360px) {
	.hero-content h1{
		font-size: 37px;
	}

} */




