
.service3{
    margin-top: 50px;
    margin-top: 150px;
    margin-bottom: 150px;

  
}
.section-title p{
    padding: 30px;
   font-size: 13px;
}

.service4{
    margin-top: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
  
}
.section-title p{
    margin-bottom: 50px;
    padding: 30px;
   font-size: 13px;
}