.section-padding{
    padding-top: 80px;
    padding-bottom: 0;
    text-align: center;
    background-color: #ecf5ff;
}

.section-heading{
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    text-align: center;
}