@media (max-width: 991px) {
    .single-service {
      margin-bottom: 30px; }
     }
.service-area{
padding: 120px 0;
}
.single-service {
  background: #fff;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border:none;
  border-radius: 14px;
  padding: 40px;
  cursor: pointer;
  height: 400px;

}
  .single-service .service-icon {
    
    position: relative;
    margin-bottom: 40px; 
    padding-right: 150px;
  }
    .single-service .service-icon .s-icon {
      position: absolute;
      left: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; 
    }
    .single-service .service-icon .clr-icon {
      position: absolute;
      left: -25px;
      top: -4px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .single-service .service-content h4 {

    font-size: 18px;
    margin-bottom: 20px; 
  }
  .single-service .service-content p {
    margin-bottom: 0; 
  }
  .single-service:hover {
    background: #fff;
    border: none;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);

  }
  .single-service:hover .service-icon .s-icon {
    opacity: 0;
    visibility: hidden;  
    
  }
 
  .single-service:hover .service-icon .clr-icon {
    opacity: 1;
    visibility: visible; 
  }
  