.service-section{
   margin: 80px ;
   
}
.box-style{
  margin-bottom: 30px;
  
}
.box-style a{
   list-style: none;
}
.box-style-content{
  border: none;
  background: #fff;
  border-radius: 4px;
  padding: 60px 40px;
  -webkit-transition:all 0.3s ease 0s;
  -moz-transition:all 0.3s ease 0s;
  -o-transition:all 0.3s ease 0s;
  transition:all 0.3s ease 0s

}

.box-style-content h4{
   font-size: 18px;
   font-weight: 600;
   color: 3a414e; 
}

.box-style-content:hover{
   background:#fff;
    box-shadow:0px 10px 20px 0px rgba(130,20,106,0.1)
}
